{% extends "base.html" %}

{% block content %}
<!-- add logic here to change it if user is logged in -->
<a href="/">Return Home</a>

Hello world, this is a Mars rover page where you can see photos from Curiousity
{% for photo in photos %}

<div class="photo-container m-2 p-2"><img src="{{photo.img_src}}"
        alt="mars rover photo, black and white, rocky terrain">
</div>

<div class="favorite-btn-container m-2 p-2">
    <form method="POST" action="/photos/{{photo.id}}/favorite">
        <button class="
          btn 
          btn-sm 
          {{'btn-primary' if photo.id in favorites else 'btn-secondary'}}">
            <i class="far fa-heart"> Favorite</i>
        </button>
    </form>
</div>
{% endfor %}

{% endblock %}