{% extends "base.html" %}

{% block content %}
<!-- add logic here to change it if user is logged in -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Photo Album from Mars</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/"> Return Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

{% for photo in photos %}

<div class="photo-container m-2 p-2"><img src="{{photo.image_url}}"
        alt="mars rover photo, black and white, rocky terrain">
</div>

<div class="favorite-btn-container m-2 p-2">
    <form method="POST" action="/photos/{{photo.id}}/favorite">
        <button class="
          btn 
          btn-sm 
          {{'btn-primary' if photo.id in favorites else 'btn-secondary'}}">
            <i class="far fa-heart"> Favorite</i>
        </button>
    </form>
</div>
{% endfor %}

{% endblock %}