{% extends "base.html" %}

{% block content %}




{% for favorite in favorites %}

<img src="{{ favorite.user.image_url }}" alt="" class="favorite-image">
</a>
<form method="POST" action="/{{ user.id }}/favorites" class="photos-like">
    <button class="
                btn 
                btn-sm 
                {{'btn-primary' if favorite.id in favorites else 'btn-secondary'}}">
        <i class="far fa-heart"></i>
    </button>
</form>

{% endfor %}

Hello world, this is a Mars rover page where you can view your favorite rover photos

{% endblock %}