{% extends "base.html" %}

{% block content %}



Your Favorite Mars Photos

{% for favorite in favorites %}

<img src="{{ favorite.image_url }}" alt="" class="favorite-image">
</a>
<form method="POST" action="/photos/{{favorite.id}}/favorite" class="photos-like">
    <button class="
                btn 
                btn-sm 
                {{'btn-primary' if favorite.id in favorites else 'btn-secondary'}}">
        <i class="far fa-heart">Remove Favorite</i>
    </button>
</form>

{% endfor %}

{% endblock %}