{% extends "base.html" %}

{% block content %}
<a href="/<int:user_id>/favoritesFIXTHIS">My Favorites</a>
<a href="/user/<int:user_id>FIX THIS">My Account</a>
<a href="/logout">Log Out</a>
<a href="/mission-info">More Info</a>
<a href="/curiosity/photos">Photos from Curiosity</a>
<div id="weather-widget"></div>

Hello world, this is a Mars rover page where the user is logged in

[Here is the data belonging to what my frontend code will make the Mars weather widget:
{{celsius_on_mars}}]

{% endblock %}