{% extends "index.html" %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% if g.user %}

            <li class="nav-item active">
                <a class="nav-link" href="/{{g.user.id}}/homepage"> Return Home <span
                        class="sr-only">(current)</span></a>
            </li>
            {% else %}
            <li class="nav-item active">
                <a class="nav-link" href="/"> Return Home <span class="sr-only">(current)</span></a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="/curiosity/photos">Curiosity Photos</a>
            </li>
        </ul>
    </div>
</nav>

<h2 class="m-3">On August 5th, 2012, Curiosity landed on Mars in the Gale Crater. </h2>
<h4 class="m-3"> The mission? <a target="_blank"
        href="https://www.jpl.nasa.gov/missions/mars-science-laboratory-curiosity-rover-msl/#:~:text=ABOUT%20THE%20MISSION,landing%20maneuvers%20never%20before%20attempted.">To
        discover microbial life.</a> Sporting a set powerful observation tools, Curiosity began
    roving. What adventures has Curiosity had since then? </h4>
<div>
    <img src="https://i.ibb.co/4fkfDP6/Untitled-design-10.png" alt="illustration of Mars in space"
        class=" mx-auto d-block"></div>
<div class="card m-3">
    <div class="card-body">
        <div class="card-title">
            Observations
        </div>
        <div class="card-text">Curiosity’s observations of the landscape-- for example, the transition from flat
            sediment to large rock layers-- point to the existence of <a target="_blank"
                href="https://mars.nasa.gov/news/8522/nasas-curiosity-rover-finds-an-ancient-oasis-on-mars/?site=msl ">an
                oasis within Gale Crater</a>. It’s gone beyond the
            oasis to take a <a target="_blank"
                href="https://mars.nasa.gov/news/8621/nasas-curiosity-mars-rover-snaps-its-highest-resolution-panorama-yet/?site=msl ">1.8
                billion pixel panorama</a> of “Glen Torriden,” an area on Mt Sharp. Curiosity has turned its
            cameras towards the heavens and taken a <a target="_blank"
                href="https://mars.nasa.gov/news/8691/while-stargazing-on-mars-nasas-curiosity-rover-spots-earth-and-venus/?site=msl ">photo
                of Earth and Venus</a> in the Martian sky. </div>
    </div>
</div>

<div class="card m-3">
    <div class="card-body">
        <div class="card-title">
            Tools
        </div>
        <div class="card-text"> Curiosity uses a number of <a target="_blank"
                href="https://mars.nasa.gov/msl/spacecraft/instruments/summary/">highly
                specialized cameras</a>. The MastCam takes images of the landscape to weave together into panoramas. The
            ChemCam works on
            taking images to help Earth-side scientists study the chemical makeup of the land on Mars. Curiosity also
            possesses a Radiation
            Assessment Detector to help determine radiation levels to prepare for future travel to Mars.
        </div>
    </div>
</div>

<div class="card m-3">
    <div class="card-body">
        <div class="card-title">
            What's next?
        </div>
        <div class="card-text"> Curiosity will soon be joined by a new rover from NASA, <a target="_blank"
                href="https://mars.nasa.gov/mars2020/">Perseverance!</a> It is scheduled to join Curiosity on Mars on
            February 18, 2021.
            Perseverance has highly <a target="_blank"
                href="https://mars.nasa.gov/news/8759/nasas-new-mars-rover-will-use-x-rays-to-hunt-fossils/">specialized
                X-ray tools</a> to make chemical analyses.</div>
    </div>
</div>

{% endblock %}