{% extends "base.html" %}

{% block content %}
<!-- add logic here to set form-->

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<form method="POST" id="user_form">

    {{ form.hidden_tag() }}

    {% for field in form if field.widget.input_type != 'hidden' %}

    {% for error in field.errors %}
    <span class="text-danger">{{ error }}</span>
    {% endfor %}

    <div class="m-4">{{ field(placeholder=field.label.text, class="form-control") }}</div>

    {% endfor %}

    <div class="m-4"><button>submit</button></div>

</form>


{% endblock %}