{% extends "index.html" %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% if g.user %}

            <li class="nav-item active">
                <a class="nav-link" href="/{{g.user.id}}/homepage"> Return Home <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/curiosity/photos"> Curiosity Photos<span class="sr-only">(current)</span></a>
            </li>
            {% else %}
            <li class="nav-item active">
                <a class="nav-link" href="/"> Return Home <span class="sr-only">(current)</span></a>
            </li>
            {% endif %}

        </ul>
    </div>
</nav>


<h3 class="m-4">Your Favorite Mars Photos</h3>
{% if favorites | length == 0 %}
No favorites yet. <a href="/curiosity/photos">Visit the photo page to add some. </a>
{% endif %}
<div class="row bg-info text-white p-4">
    {% for favorite in favorites %}

    <!-- <img src="{{ favorite.image_url }}" alt="" class="favorite-image">
</a>
<form method="POST" action="/photos/{{favorite.id}}/favorite" class="photos-like">
    <button class="
                btn 
                btn-sm 
                {{'btn-primary' if favorite.id in favorites else 'btn-secondary'}}">
        <i class="far fa-heart">Remove Favorite</i>
    </button>
</form> -->

    <div class="col col-sm-6 col-md-4">
        <div class="card m-3">
            <div class="card-body m-.5">
                <img src="{{favorite.image_url}}" alt="mars rover photo, black and white, rocky terrain"
                    class="img-fluid" style="max-width: 100%;">
                <form method="POST" action="/photos/{{favorite.id}}/favorite" class="photos-favorites">
                    <div class=" m-2 p-2">
                        <button class="
                btn 
                btn-sm m-3
                {{'btn-primary' if favorite.id in favorites else 'btn-secondary'}}">
                            <i class="far fa-heart"> Remove Favorite</i>
                        </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}
</div>

{% endblock %}